* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 1920px;
}

body {
    background-color: #171717;
    /* width: 1460px; */
    /* margin: 0 auto; */
    /* padding: 0 230px; */
}

.header{
    padding: 0 230px;
    height: 79px;
    margin-top: 37px;
    display: flex; 
    justify-content: space-between;
}

.contact-button {
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    color: #E4B564;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-icon {
    width: 16px;
    margin-right: 8px;
}

/* .main {

} */

.heat-network {
    padding: 0 230px;
    margin-top: 80px;
}

.network-title {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
}

.network-text {
    width: 1120px;
    margin-top: 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.heat-wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 468px 219px 219px 468px;
    grid-template-rows: repeat(2, 468px); 
    grid-gap: 28px;
    grid-template-areas:
        "excavation-work pipeline pipeline canals"
        "support support well well";
}

.heat-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.excavation-work {
    grid-area: excavation-work;
    background-color: #634F2C;
}

.pipeline {
    padding: 0 44px;
    grid-area: pipeline;
    background-color: #B4A385;
    
}

.canals {
    grid-area: canals;
    background-color: #E4B564;
}

.support {
    grid-area: support;
    background-color: #635A4A;
}

.well {
    grid-area: well;
    background-color: #B08C4D;
}

.car-park {
    margin-top: 160px;
    padding: 0 230px;
}

.car-title {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
}

.car-wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 468px);
    grid-template-rows: 254px 52px 54px 100px 154px 282px;
    grid-column-gap: 28px;
    grid-row-gap: 24px;
    grid-template-areas:
        "mule sewer backhoe-loader"
        "mule sewer kamaz"
        "mule sewer kamaz"
        "loader sewer kamaz"
        "loader excavator kamaz"
        "loader excavator roadroller"
    ;
}

.car-grid {
    padding-left: 48px;
    padding-top: 48px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.mule{
    grid-area: mule;
    background-color: #0E0E0E;
}

.mule-text, 
.sewer-text {
    font-weight: 700;
}

.sewer {
    grid-area: sewer;
    background-color: #242424;
}

.backhoe-loader{
    grid-area: backhoe-loader;
    background-color: #1F1F1F;
}

.loader{
    grid-area: loader;
    background-color: #1F1F1F;
}

.excavator{
    grid-area: excavator;
    background-color: #E4B564;
    color: #000;
}

.kamaz {
    grid-area: kamaz;
    background-color: #0E0E0E;
}

.roadroller {
    grid-area: roadroller;
    background-color: #0A0909;
    font-weight: 700;
}

.clients {
    padding: 0 230px;
    margin-top: 190px;
    background-color: #0E0E0E;
}

.clients-header {
    padding-top: 160px;
    display: flex;
    justify-content: space-between;
}

.clients-title {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
}

.projects-button {
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    color: #E4B564;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-block {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
}

.client-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eid {
    width: 486px;
    height: 390px;
    background-color: #634F2C;

}

.setl-grey {
    width: 486px;
    height: 390px;
    background-color: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    gap: 12px;
}

.setl-light {
    width: 486px;
    height: 390px;
    background-color: #E4B564;
}

.eid-dark {
    width: 486px;
    height: 390px;
    background-color: #635A4A;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.setl-dark {
    width: 486px;
    height: 390px;
    background-color: #B08C4D;
}
